.login-page {
    background: linear-gradient(
        198.6deg,
        #a61916 1.01%,
        #c41518 6.76%,
        #d11217 11.88%,
        #ca1315 15.52%,
        #da0d15 21.31%,
        #da0d15 30.74%,
        #d31117 39.11%,
        #e40614 49.03%,
        #d21013 60.59%,
        #be1615 71.08%,
        #b61715 85.07%,
        #bc1516 106.13%
    );
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    .login-header {
        background: #ffffff;
        padding: 12px;
        border-radius: 16px 16px 0 0;

        line-height: 0 !important;
        margin-top: 5rem;
        direction: rtl;
        border-bottom: 2px solid #eceff1;
    }
}
.login-box {
    background: #ffffff;
    padding: 20px 15px 10px 15px;
    border-radius: 0 0 16px 16px;
    text-align: start;
}

.logo-image {
    width: 215px;
    height: 66px;
    margin-bottom: 14px;
}

.submit-button {
    background-color: #d11217;
    border-radius: 12px;
    margin-top: 16px;
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.submit-button:hover {
    background-color: #b60f13;
}
.otp-input-container {
    background-color: #eceff1;
    border-radius: 12px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    height: 54px;
    align-items: center;
    direction: ltr;
}

input.login-token {
    width: 30px;
    height: 30px;
    border: none;
    text-align: center;
    font-size: 18px;
    background-color: transparent;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    line-height: 30px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

input.login-token:focus {
    outline: none;
    border: none;
    background-color: transparent;
}

input.login-token::-webkit-outer-spin-button,
input.login-token::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.login-token[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
